$color-dark: #3a3a3a;
$color-light: #ffffff;
$color-grey-light: #bfbfbf;
$color-grey: #888888;
$color-bg: #e9e9e9;
$color-bg-hover: #dcdcdc;
$color-bg-active: #d0d0d0;
$color-primary: #e41d1b;
$color-primary-hover: #c31816;
$color-primary-active: #9b1612;
$color-gold: #f3be00;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;