@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/functions' as *;

.star-rating {
  display: flex;

  &__star {
    font-size: px-to-rem(29);
    width: 24px;
    height: 22px;
    line-height: px-to-rem(16);
    color: $color-grey-light;
    transition: color 0.3s;

    &-filled {
      color: $color-gold;
    }
  }
}
